<div class="column">
  <h3 class="title has-text-white-ter has-text-right">Edit recipe category
  </h3>

  <div class="columns">
    <div class="column box">
      <%= render "form", recipe_category: @recipe_category %>
    </div>
  </div>

</div>
