<div class="column">
  <h3 class="title has-text-white-ter has-text-right">
    My recipes
  </h3>
  <hr class="login-hr">
  <p class="subtitle has-text-white-ter has-text-right">
    <%= "I have already created #{@recipes.length} #{@recipes.length == 1 ? "recipe" : "recipe".pluralize}!" %>
  </p>
  <div class="block">
    <%= link_to "Create new recipe", new_recipe_path, class: "button is-success" %>
  </div>

  <div class="columns is-multiline">    
    <% @recipes.each do |recipe| %>
      <%= render recipe %>
    <% end %>
  </div>

</div>
