<div class="column">
  <h3 class="title has-text-white-ter has-text-right">New recipe
  </h3>

  <div class="columns">
    <div class="column">
      <div class="box">
        <%= render "form", recipe: @recipe %>
      </div>
    </div>
  </div>

</div>
