<div class="column">
  <h3 class="title has-text-white-ter has-text-right">Edit user
  </h3>

  <div class="columns">
    <div class="column box">
      <%= render "form", user: @user %>
    </div>
  </div>
</div>
  