<div class="container has-text-centered">
  <div class="column is-6 is-offset-3">
    <h1 class="title">
      What do I do with this cucumber?
    </h1>
    <div class="block">      
      <h2 class="subtitle">
        Instead of doing the old suggested action (nas-ty), search "cucumber" or upload it to your inventory in <strong>mogumogu</strong>!
      </h2>
    </div>
    <div class="block">      
      <h2 class="subtitle">
        <strong>Mogumogu</strong> is a recipe-sharing app with <code>food suggestions</code> based on what ingredients you actually have.
      </h2>
    </div>
  </div>
</div>