<div class="column">
  <h3 class="title has-text-white-ter has-text-right">Edit ingredient category
  </h3>

  <div class="columns">
    <div class="column box">
      <%= render "form", ingredient_category: @ingredient_category %>
    </div>
  </div>

</div>
